@font-face{
    font-family: "Aref Ruqaa", serif;
    src: url('../../fonts/ArefRuqaa-Regular.ttf');
}

@font-face{
    font-family: "PT Mono", monospace;
    src: url('../../fonts/PTMono-Regular.ttf');
}